/* Main Style */

body {
  padding-top: 3px;
  color: #47A3DA
}

.container {
  box-sizing: border-box;
  border: blue 4px dotted;
}

/* icons */

@font-face {
  font-family: ;
  src: url();
}

/* Styling the time on the page */

time {
  font-family: 'Lato', sans-serif;
  color: #288BC6;
  font-size: 25px;
  font-weight: lighter;
  font-style: normal;
}

time.cbp_tmtime {
  font-family: 'Lato', sans-serif;
  color: #808080;
  font-size: 15pt;
  font-weight: lighter;
  font-stlye: normal;
}

time.cbp_tmtime.
/* Main Container that hold most of the ino */

.main {
  background-color: #47A3DA;
  color: white;
  box-sizing: border-box;
  border-radius: 2px solid;
  padding-top: 5px;
  text-align: center;

}

/* Webpage Header */

h1 {
  font-style: normal;
  font-weight: lighter;
  font-size: 20pt;
  letter-spacing: .3px;
  padding-left: 2%;

}

/* Styling the nav */

nav a {
  text-decoration: none;
  float: right;
}

nav a {
      text-decoration: none;
      float: right;
    }

/* Styling of the header */

h2 {
  font-size: 23pt;
  box-sizing: border-box;
  border-bottom: white solid 2px;
  text-decoration: none;
  padding-bottom: 3px;
}

li {

}

/* Main content */
