/* Do Not Forget Responsive */

/* Font url to work with */

/*@import
  url()

 .main {

        webkit-columns: 3 100%;
          -moz-columns: 3 100%;
              columns: 3 100%;
}*/

.container {
  font-family: sans-serif;
  line-height: 15px;
  color: cornflowerblue;
  margin: 0 45px 0 45px;
  min-width: 600px;
  font-size: 23pt;
  font-style: normal;
  letter-spacing: normal;
}

.main {

       webkit-columns: 3 100%;
         -moz-columns: 3 100%;
             columns: 3 100%;
}

.clearfix {
  padding: 10px, 45px, 0, 45px;

}

*h3 {
  line-height: 15px;
  font-size: 23px:
  text-align: left;
  height: 115px;
  min-width: 600px;
  list-style-type: none;
}

.cbp-ntcontent {
  display: none;

}

h1 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;

}



h3.cbp-nttrigger::before {
  font-family: icons;
  content: "&#8426;";
  speak: none;
}

/* Border radius will round out the corners of the box
    This will be needed for the add to cart button
*/
