/* Do Not Forget Responsive */



.container {
  font-family: sans-serif;
  line-height: 15px;
  color: #4723DA;
  margin: 0 45px 0 45px;
  min-width: 600px;
  font-size: 23pt;
  font-style: normal;
}

.clearfix {
  padding: 10px, 45px, 0, 45px;

}

*h3 {
  line-height: 15px;
  font-size: 23px:
  text-align: left;
  height: 115px;
  min-width: 600px;
  list-style-type: none;
}

.cbp-ntcontent {
  display: none;

}

h1 {
  text-align: center;
  padding-bottom: 15px;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;

}
