.main {
  background-color: #47A3DA;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: auto;
  font-family: cursive;
  min-width: 700px;
  /* this will help the sizing of the webpage for different browsers */
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  font-size: 20px;
}

label {
  color: white;
  border: solid black 5px;
  padding-left: 10px;

}

/*:focus {outline: none;}*/

h1 {
  padding-left: 300px;
  min-width: 600px;
  color: #47A3DA;
  line-height: normal;
}

form {
  background-color:
}


box {
  height: 165px;
  width: auto;
  border:
}

position {
  display: block;

}

.cbp-mc-form {
  line-height: 70px;

}

.cbp-mc-submit {
  
}
